.panelhead2(style='background-color:#fff;background-image:none;color:#069;')
    .container-fluid.collapse.navbar-collapse(style="align-self:flex-end;align-items:flex-end;display:flex;justify-content:space-between;margin-top:50px;")
        .navbar-header(style="font-family:sans-serif;")
          button.navbar-toggle(type='button', ng-click="navtoggle = !navtoggle")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.btn.hidden-xs-down(ng-click='clicked = !clicked',style='border-width:0;background:url();background-size:cover;')
           img(class="", src='/llp_core/img/lll3.svg',style='width:50px;height:50px;max-width:50px;max-height:50px;filter:drop-shadow(-2.5px 2.5px 1rem 0 rgba(0,0,0,0.75));-webkit-filter:drop-shadow(-2.5px 2.5px 0.5rem 1rem  rgba(0,0,0,0.75));position:absolute;left:0;top:20px;border-width:1px;border-radius:1rem;')
        a.navbar-brand.hovergold(href='/',style='padding-left:5vw;font-family:sans-serif;text-shadow:-1px 1px 10px rgba(0,0,0,0.25);margin-top:50px;position:relative;top:25px;')
          | !{$location.hostname}

        ul.nav.navbar-nav.hidden-xs-down(style="font-family:sans-serif;position:relative;top:90px;")
          li.hidden-xs-down(class='nav-header')
            a(href='/about') About
          li(class='nav-header')
            a(href='/app/') LexLab
          //li(class='nav-header')
            a(href='/lion') L&nbsp;I&nbsp;O&nbsp;N
          //li.hidden-xs-down(class='nav-header')
            a(href='/blog') Blogs
          li.hidden-xs-down(class='nav-header')
            a(href='/contact') Contact

        ul.nav.navbar-nav.navbar-right.hidden-xs-down(ng-cloak, style="font-family:sans-serif;position:relative;top:40px;")
          if !user
            li.hidden-xs-down(class=title=='Login'?'active':undefined)
              // button(onclick="window.signin();")
              a(href='/login',style="margin-top:50px;") Login
            li.hidden-xs-down(class=title=='Create Account'?'active':undefined)
              a(href='/signup',style="margin-top:50px;") Create Account
          else
            li.dropdown(uib-dropdown, dropdown-append-to-body, style="margin-top:5vh")
              a.dropdown-toggle.btn(uib-dropdown-toggle, style="text-shadow:-1px 1px 5px rgba(0,0,0,0.25);")
                i
                | &nbsp;&nbsp;#{user.profile.name || user.email || user.id}&nbsp;&nbsp;
                if user.profile.picture
                  img(src='#{user.profile.picture}', style="border:3px ridge #ffa;margin-top:0px;border-radius: 0.8rem;background-color:white;width:35px;height:35px;box-shadow:inset 0 0 5px black, 0 0 5px rgba(0,0,0,0.25);")
                else
                  img(src='#{user.gravatar(60)}',style="margin-top:0px;")

              ul.uib-dropdown-menu.list-group.dropdown-menu.dropdown-menu-right
                li.menuitem
                  | &nbsp;
                li.menuitem
                  | &nbsp;
                li.menuitem
                  a(href='/account', class="fa fa-user fa-fw") &nbsp;&nbsp;&nbsp;&nbsp;My Account
                li.divider
                li.menuitem
                  a(href='/logout', class="fa fa-sign-out fa-fw") &nbsp;&nbsp;&nbsp;&nbsp;Logout
