doctype html
html.html(data-ng-app=application, style="font-size:!{fontSize};font-family:'Helvetica',sans-serif !important;")
  block head
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='csrf-token', content=_csrf)
      title #{title}
      // Add to homescreen for Chrome on Android
      meta(name='mobile-web-app-capable', content='yes')
      link(rel='icon', sizes='192x192', href='/llp_core/apple-touch-icon.png')
      // Add to homescreen for Safari on iOS
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black')
      meta(name='apple-mobile-web-app-title', content='LexSpace')
      link(rel='apple-touch-icon-precomposed', href='/llp_core/apple-touch-icon.png')
      //link(rel='stylesheet', href='/llp_core/assets/filepicker.css')
      //link(rel='stylesheet', href='../blur-admin/release/styles/app-6ad1361e34.css')
      //link(rel="stylesheet", href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css")
      link(rel='stylesheet', href='/lexlab-starter/public/css/jquery.oembed.css')
      //script(src="https://cdn.auth0.com/js/lock-7.12.min.js")
      link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/lexlab-starter/public/css/jquery.pageslide.css')
      //link(rel='stylesheet',href='/llp_core/bower_components/angular-loading-bar/build/loading-bar.css')
      //link(rel='stylesheet', href='/llp_core/node_modules/tether/dist/css/tether.css')
      //link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet")
      //link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
      link(href="/llp_core/dist/app.full.min.css", rel="stylesheet")
      link(href="/llp_core/animate.css", rel="stylesheet")
      //link(rel="stylesheet", href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css")
      //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tether-select/1.1.1/css/select-theme-default.css")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/tether-select/1.1.1/js/select.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js")
      //script. var $ = new jQuery();
      script(src='https://apis.google.com/js/client.js')
      script(src='https://apis.google.com/js/api.js')
      script(src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js")
      script(src="/lexlab-starter/public/jQuery-Plugin-For-Auto-Resizing-iFrame-iFrame-Resizer/src/iframeResizer.js")
      script(src="/lexlab-starter/public/js/jquery.pageslide.js")
      //script(src="/llp_core/bower_components/filepicker-js/filepicker.js")
      //script(src="/llp_core/bower_components/filepicker-js/filepicker_debug.js")
      script(src="https://cdn.ckeditor.com/4.7.0/full-all/ckeditor.js")
      script(src="/llp_core/ckeditor/ckeditor.js")
      script(src="/llp_core/ckconfig.js")
      script(src="/llp_core/ckeditor2/plugins/chart/lib/chart.min.js")
      script(src="/llp_core/ckeditor2/plugins/chart/widget2chart.js")
      script(src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js")
      script(type='text/javascript').
        iFrameResize({ log: true,enablePublicMethods: true, resizedCallback: function(messageData){ $('p#callback').html( '<b>Frame ID:</b> '    + messageData.iframe.id + ' <b>Height:</b> '     + messageData.height + ' <b>Width:</b> '      + messageData.width + ' <b>Event type:</b> ' + messageData.type ); } });
      script. var options = { log: true, autoResize:true, heckOrigin:false, enablePublicMethods:true, messageCallback:function({iframe,message}){}, resizedCallback:function({iframe,height,width,type}){}, sizeHeight:true, sizeWidth:true, }iFrameResize({options},"iframe");
      script(src="/lexlab-starter/node_modules/reveal.js/lib/js/head.min.js")
      script(src="/lexlab-starter/node_modules/reveal.js/js/reveal.js")

  block body
    body.html2(data-ng-controller=controller)
        block content
        block sidebar

        block header
          //link(href="/llp_core/dist/app.full.min.css", rel="stylesheet")
          .navbar-fixed-top
                include partials/header
        block footer
            .navbar-fixed-bottom
                include partials/footer
        block scripts
            script(src='/lexlab-starter/public/js/lib/jquery.oembed.js')

            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js")
            //-script(src="/llp_core/bower_components/angular-filepicker/dist/angular_filepicker.js")
            //- script(src="/lexlab-starter/node_modules/angular/angular.min.js")
            //- script(src='/llp_core/bower_components/angular-animate/angular-animate.min.js')
            //- script(src='/lexlab-starter/node_modules/angular-sanitize/angular-sanitize.min.js')
            //- script(src='/lexlab-starter/node_modules/videogular/videogular.js')
            //- script(src='/lexlab-starter/node_modules/videogular-controls/vg-controls.js')
            //- script(src='/lexlab-starter/node_modules/videogular-overlay-play/vg-overlay-play.js')
            //- script(src='/lexlab-starter/node_modules/videogular-poster/vg-poster.js')
            //- script(src='/lexlab-starter/node_modules/videogular-buffering/vg-buffering.js')
            //-script(src='./lexlab-starter/public/js/hello.js')
            //-script(src='./lexlab-starter/public/js/cron.js')
            script(src="/llp_core/bower_components/angular-pageslide-directive/dist/angular-pageslide-directive.js")
            script(src="/llp_core/node_modules/angular-file-upload/dist/angular-file-upload.js")
            script(src="/llp_core/bower_components/ng-file-upload/ng-file-upload-all.js")
            script(src="/timetracker/angular-time-pausetracker/js/roundProgress.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.6/jquery.slimscroll.js")
            script(src="/timetracker/dist/adf-widget-timetracker.js")
            script(src="/llp_core/dist/app.bower.js")
            //- script(src="/llp_core/app.js")
            //- script(src="/llp_core/modules/claimLab/ClaimLab.js")
            //- script(src="/llp_core/dist/app.enterprise.js")
            link(href="../timetracker/dist/adf-widget-timetracker.css")
            //-link(href="//cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css")
            script(src='https://rawgit.com/alexk111/ngImgCrop/master/compile/unminified/ng-img-crop.js')
            script(src='/newwidget/dist/adf-widget-testwidget.js')
            script(src='/getphdwidget/dist/adf-widget-getphd.js')
            script(src='/pagebuilderwidget/dist/adf-widget-pagebuilder.js')
            script(src='/collectionwidget/dist/adf-widget-collectionwidget.js')
            script(src='/treewidget/dist/adf-widget-treewidget.js')
            script(src='/llp_core/bower_components/angular-loading-bar/build/loading-bar.js')
            script(src='/llp_core/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
            script(src='/llp_core/dist/app.mini.js')
            script(src='/llp_core/dist/minicache.js')
            script(src='/llp_core/dist/templateCache.js')
            script(src='/lexlab-starter/public/js/main.js')

  svg(style='position: absolute; width: 0; height: 0;', width='0', height='0', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
    defs
        symbol#icon-xllp(viewBox='0 0 948 1024')
            title xllp
            path.node.path1(fill='inherit', d='M19.664 654.651c-0.028 0-0.059 0-0.091 0-10.741 0-19.444 8.703-19.444 19.444 0 2.014 0.305 3.953 0.876 5.784 53.496 185.897 233.197 314.884 415.882 342.224 2.363 1.101 5.129 1.741 8.042 1.741 10.741 0 19.444-8.703 19.444-19.444 0-6.008-2.721-11.372-7.001-14.938l-0.498-0.431c-3.069-2.622-7.004-4.314-11.323-4.589-168.456-23.635-338.404-145.821-387.214-315.443-2.315-8.303-9.797-14.307-18.679-14.342z')
            path.node.path2(fill='inherit', d='M509.606 0.14v38.885l-0.989-0.028c107.187 5.466 201.246 58.342 271.898 129.887s117.087 161.825 128.962 237.111c1.516 9.358 9.54 16.422 19.207 16.422 10.742 0 19.445-8.709 19.445-19.445 0-1.072-0.084-2.126-0.255-3.151-13.506-85.606-63.636-181.249-139.693-258.265-75.487-76.441-177.359-134.334-294.986-141.114-1.028-0.193-2.219-0.305-3.426-0.305-0.061 0-0.115 0-0.176 0.001z')
            path.node.path3(fill='inherit', d='M275.339 770.661h-41.415l207.39-269.568-116.153-170.122q-10.837-15.698-22.481-31.086-11.544-15.394-26.529-28.153-14.886-12.858-35.24-21.569-20.255-8.71-48.507-10.428v-16.609h99.544q19.951 0 36.963 8.302t31.086 21.569 25.723 29.468 22.381 31.898l82.935 124.455 165.974-215.691h41.415l-186.632 244.756 132.757 194.934q10.732 15.797 23.187 31.191 12.455 15.289 27.341 28.153 14.985 12.858 32.407 21.569t37.366 10.329v16.609h-87.089q-19.951 0-36.963-8.302t-31.086-21.569-26.126-29.368q-12.052-16.2-21.973-31.997l-99.544-149.365-186.732 240.608z')
//-   svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='170px', height='30px', viewbox='413.514 140.528 170 30', enable-background='new 413.514 140.528 170 30', xml:space='preserve')
//-       g
//-           g
//-             path(fill='#231F20', d='M451.896,162.319v5.401h-0.392v-5.401H451.896z')
//-             path(fill='#231F20', d='M455.418,165.686h-1.448v2.035h-0.392v-5.401h1.957c1.214,0,2.035,0.587,2.035,1.683    C457.531,165.099,456.514,165.686,455.418,165.686z M455.457,162.672h-1.526v2.622h1.448c1.018,0,1.683-0.509,1.683-1.331    C457.141,163.142,456.475,162.672,455.457,162.672z')
//-             path(fill='#231F20', d='M462.894,165.686h-1.448v2.035h-0.391v-5.401h1.957c1.213,0,2.035,0.587,2.035,1.683    C465.008,165.099,463.99,165.686,462.894,165.686z M462.934,162.672h-1.527v2.622h1.448c1.018,0,1.684-0.509,1.684-1.331    C464.616,163.142,463.872,162.672,462.934,162.672z')
//-             path(fill='#231F20', d='M466.456,167.721h-0.353v-3.953h0.353v1.096c0.312-0.704,0.939-1.213,1.761-1.174v0.392h-0.039    c-0.9,0-1.722,0.704-1.722,1.957V167.721z')
//-             path(fill='#231F20', d='M470.684,167.799c-1.175,0-2.036-0.939-2.036-2.074s0.861-2.074,2.036-2.074    c1.174,0,2.035,0.939,2.035,2.074C472.758,166.859,471.896,167.799,470.684,167.799z M470.684,164.041    c-0.939,0-1.605,0.744-1.605,1.723s0.705,1.723,1.605,1.723c0.938,0,1.604-0.744,1.604-1.723S471.622,164.041,470.684,164.041z')
//-             path(fill='#231F20', d='M475.889,163.768v0.353h-1.37v3.601h-0.352v-3.601h-0.588v-0.353h0.549v-0.391    c0-0.861,0.47-1.332,1.174-1.332c0.235,0,0.392,0.039,0.587,0.118v0.353c-0.195-0.039-0.392-0.118-0.587-0.118    c-0.548,0-0.822,0.313-0.822,1.019v0.352H475.889L475.889,163.768z')
//-             path(fill='#231F20', d='M478.315,167.447c0.587,0,1.018-0.235,1.37-0.588l0.235,0.235c-0.392,0.47-0.861,0.743-1.605,0.743    c-1.018,0-1.918-0.821-1.918-2.074c0-1.174,0.822-2.074,1.879-2.074c1.096,0,1.801,0.9,1.801,2.074c0,0.039,0,0.117,0,0.156    h-3.288C476.789,166.859,477.494,167.447,478.315,167.447z M479.646,165.529c-0.039-0.822-0.509-1.527-1.409-1.527    c-0.743,0-1.37,0.666-1.448,1.527H479.646z')
//-             path(fill='#231F20', d='M480.781,167.212l0.196-0.313c0.47,0.354,0.9,0.51,1.409,0.51c0.548,0,0.939-0.313,0.939-0.744    c0-1.057-2.388-0.548-2.388-1.879c0-0.665,0.548-1.096,1.33-1.096c0.47,0,1.019,0.156,1.409,0.47l-0.195,0.313    c-0.353-0.235-0.822-0.392-1.214-0.392c-0.548,0-0.899,0.313-0.899,0.704c0,0.939,2.387,0.509,2.387,1.879    c0,0.705-0.587,1.174-1.369,1.174C481.838,167.76,481.212,167.564,480.781,167.212z')
//-             path(fill='#231F20', d='M484.539,167.212l0.195-0.313c0.47,0.354,0.9,0.51,1.409,0.51c0.548,0,0.939-0.313,0.939-0.744    c0-1.057-2.388-0.548-2.388-1.879c0-0.665,0.549-1.096,1.331-1.096c0.47,0,1.018,0.156,1.409,0.47l-0.195,0.313    c-0.353-0.235-0.822-0.392-1.214-0.392c-0.548,0-0.9,0.313-0.9,0.704c0,0.939,2.388,0.509,2.388,1.879    c0,0.705-0.587,1.174-1.37,1.174C485.596,167.76,484.97,167.564,484.539,167.212z')
//-             path(fill='#231F20', d='M488.728,162.711v-0.509h0.47v0.509H488.728z M488.767,167.721v-3.953h0.353v3.953H488.767z')
//-             path(fill='#231F20', d='M492.406,167.799c-1.174,0-2.035-0.939-2.035-2.074s0.861-2.074,2.035-2.074    c1.175,0,2.035,0.939,2.035,2.074C494.402,166.859,493.542,167.799,492.406,167.799z M492.406,164.041    c-0.939,0-1.604,0.744-1.604,1.723s0.704,1.723,1.604,1.723c0.939,0,1.605-0.744,1.605-1.723S493.307,164.041,492.406,164.041z')
//-             path(fill='#231F20', d='M495.93,167.721h-0.353v-3.953h0.353v0.744c0.234-0.471,0.704-0.822,1.408-0.822    c1.019,0,1.566,0.666,1.566,1.604v2.427h-0.353v-2.309c0-0.822-0.47-1.371-1.253-1.371c-0.743,0-1.369,0.588-1.369,1.41V167.721    L495.93,167.721z')
//-             path(fill='#231F20', d='M500.47,164.395l-0.156-0.354c0.47-0.195,0.86-0.352,1.409-0.352c1.018,0,1.683,0.509,1.683,1.565v2.466    h-0.353v-0.665c-0.234,0.353-0.743,0.743-1.526,0.743c-0.743,0-1.526-0.391-1.526-1.252s0.704-1.331,1.723-1.331    c0.548,0,0.899,0.039,1.33,0.157v-0.157c0-0.821-0.509-1.214-1.33-1.214C501.213,164.081,500.822,164.198,500.47,164.395z     M500.353,166.547c0,0.548,0.548,0.9,1.174,0.9c0.822,0,1.526-0.51,1.526-1.214v-0.47c-0.352-0.117-0.743-0.195-1.33-0.195    C500.822,165.607,500.353,165.959,500.353,166.547z')
//-             path(fill='#231F20', d='M504.814,167.721v-5.676h0.353v5.637h-0.353V167.721z')
//-             path(fill='#231F20', d='M506.302,167.212l0.195-0.313c0.47,0.354,0.9,0.51,1.409,0.51c0.548,0,0.939-0.313,0.939-0.744    c0-1.057-2.388-0.548-2.388-1.879c0-0.665,0.548-1.096,1.331-1.096c0.47,0,1.018,0.156,1.409,0.47l-0.195,0.313    c-0.353-0.235-0.822-0.392-1.214-0.392c-0.548,0-0.9,0.313-0.9,0.704c0,0.939,2.388,0.509,2.388,1.879    c0,0.705-0.587,1.174-1.37,1.174C507.319,167.76,506.732,167.564,506.302,167.212z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M459.254,156.762l-3.405-4.423h-3.483v4.423  h-0.783v-10.686h4.501c2.271,0,3.797,1.252,3.797,3.053c0,1.8-1.331,2.818-3.131,3.053l3.522,4.58H459.254z M455.966,146.819h-3.64  v4.775h3.601c1.762,0,3.131-0.9,3.131-2.466C459.058,147.72,457.962,146.819,455.966,146.819z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M478.512,156.762h-0.783v-9.942h-3.758v-0.744  h8.259v0.744h-3.757L478.512,156.762L478.512,156.762z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M485.4,151.751v5.01h-0.783v-10.686h0.783  v4.932h6.811v-4.932h0.783v10.686h-0.783v-5.01H485.4z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M502.779,146.037h0.626l3.132,9.55  l3.326-9.511h0.822l-3.875,10.764h-0.665l-3.132-9.316l-3.131,9.316h-0.666l-3.875-10.764h0.861l3.327,9.511L502.779,146.037z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M520.628,146.819h-6.812v4.228h6.146v0.744  h-6.146v4.266h6.929v0.744h-7.672v-10.686h7.594L520.628,146.819L520.628,146.819z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M523.289,146.076h0.783v9.942h6.302v0.744  h-7.085V146.076z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M532.723,146.076h0.782v9.942h6.302v0.744  h-7.084V146.076z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M554.25,146.819h-6.732v4.384h6.027v0.744  h-6.027v4.815h-0.783v-10.686h7.516V146.819z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M557.616,146.076v10.686h-0.783v-10.686  H557.616z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M565.836,156.957  c-3.366,0-5.362-2.505-5.362-5.519c0-2.896,2.113-5.558,5.284-5.558c1.761,0,2.818,0.509,3.914,1.409l-0.509,0.587  c-0.822-0.744-1.801-1.253-3.444-1.253c-2.584,0-4.384,2.231-4.384,4.775c0,2.779,1.722,4.814,4.579,4.814  c1.331,0,2.623-0.586,3.405-1.252v-3.053h-3.562v-0.744h4.306v4.11C569.085,156.213,567.598,156.957,565.836,156.957z')
//-       path(fill='#000100', stroke='#000100', stroke-width='0.25', stroke-miterlimit='10', d='M577.774,156.957  c-3.366,0-5.362-2.505-5.362-5.519c0-2.896,2.113-5.558,5.283-5.558c1.762,0,2.818,0.509,3.914,1.409l-0.509,0.587  c-0.821-0.744-1.8-1.253-3.444-1.253c-2.583,0-4.384,2.231-4.384,4.775c0,2.779,1.723,4.814,4.58,4.814  c1.331,0,2.622-0.586,3.405-1.252v-3.053h-3.562v-0.744h4.306v4.11C581.022,156.213,579.535,156.957,577.774,156.957z')
//-       g
//-         path(fill='#85BA40', d='M428.646,150.42c0-1.996-1.566-3.288-4.267-3.288h-5.05v6.654h4.972   C426.767,153.826,428.646,152.534,428.646,150.42z')
//-         path(fill='#85BA40', d='M413.693,141.614v28.495h16.282v-7.789l-5.793-7.554h-4.854v6.145h-1.096v-14.834h6.224   c3.21,0,5.284,1.761,5.284,4.228c0,2.505-1.84,3.914-4.306,4.266l4.58,5.911v-6.263h10.411v1.018h-9.354v6.067h8.376v1.018h-8.376   v7.75h12.29v-28.456H413.693z')
//-         polygon(fill='#FFFFFF', points='430.915,161.732 429.976,160.52 429.976,162.358 430.954,163.572  ')
//-         rect(x='443.401', y='141.614', fill='#231F20', width='0.665', height='28.495')
//-         rect(x='413.693', y='140.948', fill='#231F20', width='29.63', height='0.666')
//-         rect(x='443.401', y='140.948', fill='#231F20', width='0.665', height='0.666')
//-       path(fill='#231F20', d='M462.737,151.438c0-2.505,1.957-4.541,4.384-4.697v-0.861c-2.936,0.157-5.284,2.583-5.284,5.558  c0,1.213,0.353,2.271,1.018,3.209l0.705-0.548C463.051,153.317,462.737,152.417,462.737,151.438z')
//-       path(fill='#231F20', d='M472.17,151.438c0,0.939-0.273,1.84-0.782,2.583l0.704,0.548c0.627-0.9,0.939-1.957,0.939-3.131  c0-3.014-2.349-5.44-5.323-5.558v0.861C470.174,146.858,472.17,148.933,472.17,151.438z')
//-       path(fill='#231F20', d='M467.474,156.135c-1.409,0-2.701-0.665-3.562-1.644l-0.705,0.548c1.018,1.213,2.544,1.957,4.267,1.957  c1.761,0,3.288-0.783,4.267-2.035l-0.705-0.548C470.174,155.509,468.922,156.135,467.474,156.135z')
